@import url(../../assets/fonts/fonts.css);
@import url(../../styles/variables.css);

.header {
  width: calc(100vw - (var(--side-margin) * 2));

  display: flex;
  justify-content: space-between;

  margin-inline: var(--side-margin);
}
.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;

  font-family: Euclid-Circular-Regular;

  &__image {
  }
  &__text {
    font-size: 32px;
  }
}
.user-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 32px;

  font-family: Euclid-Circular-Medium;

  &__number {
    font-size: 18px;
    line-height: 23px;
  }
  &__button {
    width: 187px;
    height: 47px;

    background-color: var(--color-yellow);

    border: none;
    border-radius: 8px;
  }
}
