@import url(../../assets/fonts/fonts.css);
@import url(../../styles/variables.css);
.header {
  width: calc(100vw - var(--side-margin) * 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-inline: var(--side-margin);
}

.logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  font-family: Euclid-Circular-Regular;
}
.logo-wrapper__text {
  font-size: 32px;
}

.user-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  font-family: Euclid-Circular-Medium;
}
.user-actions__number {
  font-size: 18px;
  line-height: 23px;
}
.user-actions__button {
  width: 187px;
  height: 47px;
  background-color: var(--color-yellow);
  border: none;
  border-radius: 8px;
}