@import url(../../../assets/fonts/fonts.css);
@import url(../../../styles/variables.css);

.card {
  min-width: 350px;
  max-width: 350px;

  min-height: 480px;
  max-height: 480px;

  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  background-color: var(--color-gray);

  cursor: pointer;
  border-radius: 8px;

  transition: 0.2s;

  &__profession-wrapper {
    width: auto;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 24px 0 0 24px;

    background-color: var(--color-white);
    border-radius: 1000px;
  }
  &__profession {
    font-family: Euclid-Circular-Regular;
    font-size: 24px;
    line-height: 30px;
    margin: 16px 12px 16px 12px;
  }
  &__text-wrapper {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 86%;
    height: auto;

    margin: 0 7% 5% 7%;

    font-family: Euclid-Circular-Medium;
    font-weight: 500;
    font-size: 18px;
    color: transparent;
  }

  img {
    margin: 0 auto;
  }
}
.card.active {
  background-color: var(--color-yellow);
  img {
    opacity: 0;
  }
  p {
    color: var(--color-black);
  }
}
